[user]
	name = Jon Leemon
  username = nomeelnoj
  email = nomeelnoj@users.noreply.github.com
  signingkey = 676373943AA051AF
[alias]
  lol   = log --oneline --abbrev-commit
  ch    = log --oneline --abbrev-commit -p -5
  st    = status
  pu    = push -u
  com   = commit -s
  ndiff = "diff --no-ext-diff"
[color]
  ui = auto
  push = true
  advice = true
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green
  changed = yellow
  untracked = red
[core]
  attributesfile = ~/.gitattributes
	excludesfile = ${HOME}/.gitignore_global
[commit]
	template = ${HOME}/.stCommitMsg
	gpgsign = true
[push]
  default = current
[branch]
  autosetuprebase = always
[pull]
  rebase = true
[gpg]
  program = gpg
# uncomment to output log to stdout
#[pager]
# log = false
[url "git@github.com:"]
  insteadOf = https://github.com/
[submodule]
  recurse = true
[format]
  signoff = true
[init]
  defaultBranch = main
[diff]
  renameLimit = 10000
[diff "git-dyff"]
  command = "git-dyff --args"
# Specifics per company
[includeIf "gitdir:~/src/COMPANY_GIT_ORG"]
  path = ~/.gitcompany
