[user]
	name = Jon Leemon
  username = nomeelnoj
	email = nomeelnoj@users.noreply.github.com
  signingkey = 6841E1414EEA439D
[alias]
  lol = log --oneline --abbrev-commit
  ch = log --oneline --abbrev-commit -p -5
  st = status
  pu = push -u
  com = commit -s
[color]
  ui = auto
  push = true
  advice = true
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green
  changed = yellow
  untracked = red
[core]
	excludesfile = ${HOME}/.gitignore_global
[commit]
	template = ${HOME}/.stCommitMsg
	gpgsign = true
[push]
  default = current
[branch]
  autosetuprebase = always
[pull]
  rebase = true
[gpg]
  program = gpg
# uncomment to output log to stdout
#[pager]
# log = false
[url "git@github.com:"]
  insteadOf = https://github.com/
[submodule]
  recurse = true
[format]
  signoff = true
[init]
  defaultBranch = main
[diff]
  renameLimit = 10000
[diff "dyff"]
  command = "echo \"$2\n$5\"; \
                dyff \
                  --color on \
                  --omit-header \
                  --detect-kubernetes \
                  between \
                  \"$2\" \"$5\" \
                || git diff \
                  --no-ext-diff \
                  --no-index \
                  \"$2\" \"$5\" \
                || exit_code=$?"
