[user]
	name = Jon Leemon
  username = nomeelnoj
	email = nomeelnoj@users.noreply.github.com
  username = nomeelnoj
  signingkey = 6841E1414EEA439D
[alias]
  lol = log --oneline --abbrev-commit
  ch = log --oneline --abbrev-commit -p -5
  st = status
[color]
  ui = auto
  push = true
  advice = true
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green
  changed = yellow
  untracked = red

[core]
	excludesfile = ${HOME}/.gitignore_global
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[commit]
	template = ${HOME}/.stCommitMsg
	gpgsign = true
[push]
  default = current
[branch]
  autosetuprebase = always
[gpg]
	program = gpg
